
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;400&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    font-size: 22px;
    font-weight: 300;
}
li{
    display: inline;
    margin: 10px;
}


/* nav bar */
nav{
    position: sticky;
    top: 0;
    background-color: white;
}
.nav-container{
    display: flex;
    align-items: center;
    margin: 49px 49px;
}
.logo{
    width: 230px;
    height: 66px;
}
.logo-right{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
}
.logo-rightmost{
    display: flex;
    margin-left: auto;

}
.icons{
    width: 17px;
    height: 20px;
}
.space{
    margin-right: 10px;
}
.btngetquote{
    background-color:#184655;
    box-shadow: 2px 3px  rgb(211,211, 211) ;
    padding: 5px 30px;
    color: white;
    border-radius: 24px;
    font-size: 30px;
    font-weight: 500;

}

/* hero section */

.hero{
    display: flex;
    background: url(asset/Rectangle\ 31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    height: 742px;
    margin: 27px 50px;
}
.hero-left{
    margin-left: 110px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;

}
.hero-title-left{
    font-family: "Poppins", sans-serif;
    font-size:45px;
    font-weight: 700;
    color: #184655;
    ;
}
.search-box{
    display: flex;
    align-items: center;
    width: 546px;
    height: 78px;
    background-color: white;
    border-radius: 16px;
    margin-top: 40px;

}
.search-icon{
    width: 32px;
    height: 32px;
    margin: 20px;
}
.search-input{
    border-style: none;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}
.search-btn{
    border-radius: 0px 19px 19px 0px;
    height: 78px;
    width: 500px;
    font-size: 24px;
    font-weight: 700;
    background-color:#184655;
    color: white;
    
    /* align-self: flex-end; */
}
.hereo-left-tags{
    display: flex;
    justify-content: space-between;
    color:#53748C;
    font-weight: 400;
    width: 331px;
    height: 25px;
    font-size: 21px;
    margin-top: 20px;
    margin-left: 10px;

}
.hero-right{
    margin-left: 110px;
    display: flex;
    width: 50%;
    align-items: center;
}
.hero-right-img{
    width: 475px;
    height: 304px;
}

/* Latest Blog section */

.blog-section{
    display: flex;
    background: url(asset/Rectangle\ 31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: contrast(90%); */
    border-radius: 50px;
    height: 512px;
    margin: 30px 50px;
}
.blog-img{
    width: 50%;
    margin: 30px;
}
.latest-img{
    border-radius: 15px;
    height: 460px;
    width: 671px;
}
.blog-text{
    margin: 30px;
    width: 50%;
    padding: 15px;
}
.blog-title{
    font-size: 41px;
    font-weight: 500;
}
.blog-spn{
    color:#6F6E6ED6;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 25px;
}
.blog-article{
    font-size: 28px;
    font-weight: 400;
    color:#464343;
    margin-top: 20px;
}

/* more blog section */

.other {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1rem;
    align-items: center;
    margin: 30px 50px;
}

.other_card {
    width: 26.97075rem;
    border-radius: 1.25rem;
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
    background: linear-gradient(146deg, rgba(249, 247, 247, 0.10) 0%, rgba(249, 247, 247, 0.40) 100%);
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
}

.other_img {
    width: 100%;
    height: 17.03838rem;
    border-radius: 1.25rem;
    background: url(/asset/bulb.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.other_head {
    max-width: 24.62894rem;
    flex-direction: column;
    justify-content: center;
    color: #4A4848;
    font-size: 1.5rem;
    font-weight: 500;
    padding-inline: 1rem;
}

.other_subhead {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(111, 110, 110, 0.84);
}

.other_text {
    padding-inline: 1rem;
    color: #464343;
    font-family: Segoe UI;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.other_foot {
    padding: 1rem;
    text-align: right;
    color: #213949;
    font-size: 1.25rem;
    font-weight: 300;
}

/* footer section */
.footer {
    margin: 30px 50px;
    border-radius: 1.875rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    background: url(asset/Rectangle\ 31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 5.19rem;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    flex: 1;
}

.footer_right {
    flex: 1;
}

.footer_right img {
    width: 100%;
}

.footer_head_up {
    font-size: 2.5rem;
    font-weight: 300;
}

.footer_head {
    font-size: 3.5625rem;
    font-weight: 500;
}

.footer_head_down {
    font-size: 2.5rem;
    font-weight: 400;
}

.footer_btn {
    margin-top: 5rem;
    width: 15.6875rem;
    height: 3.0625rem;
    border-radius: 1.46875rem;
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(122deg, #2C56AA 0%, #3BB08B 100%);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    font-weight: 500;
}